<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="PropertiesConfig">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hisp.dhis" level="${env:DHIS_LOG_LEVEL:-WARN}" additivity="true"/>
        <Logger name="org.hisp.dhis.system.startup" level="INFO" additivity="true"/>
        <Logger name="com.hazelcast" level="${env:HAZELCAST_LOG_LEVEL:-WARN}" additivity="true"/>
        <Logger name="org.springframework.web" level="${env:SPRING_LOG_LEVEL:-WARN}" additivity="true"/>
        <Logger name="org.hibernate" level="${env:HIBERNATE_LOG_LEVEL:-ERROR}" additivity="true"/>

        <Root level="${env:DEFAULT_LOG_LEVEL:-WARN}">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
