{{- if not (or (hasKey .Values "minIO") (hasKey .Values "S3")) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "dhis2-core-helm.fullname" . }}
  labels:
    {{- include "dhis2-core-helm.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.volumeSize }}
  storageClassName: {{ .Values.storage.className }}
{{- end }}
